html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 64px;
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    column-gap: 32px;
    row-gap: 12px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.description h1 {
    margin-bottom: 10px;
}

.description p {
    margin-top: 10px;
}

.calculator {
    flex: 1;
    max-width: 400px;
    min-width: 300px;
}



.description {
    margin-bottom: 12px;
    flex: 1;
    max-width: 600px;
    min-width: 200px;
}

.calculator {
    border: black solid 1px;
    padding: 12px 12px 0px 12px;
    background-color: lightgray;
}

.calculator .screen {
    padding: 12px;
    font-size: 24px;
    background-color: aliceblue;
    border: black solid 1px;
    margin-bottom: 12px;
    text-align: right;
}

.calculator .errors {
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    margin-bottom: 12px;
    text-align: right;
}

.button-row,
.clear {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    margin-bottom: 12px;
}

.button-row button,
.clear button {
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(228, 228, 228);
    border: darkgray solid 2px;
    flex: 1;
    aspect-ratio: 1 / 1;
}

button#clear {
    height: 40px;
}

button:hover {
    border: black solid 2px;
}